.navbarHelp  {
    background:white;
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
  .navbarHelp {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  